<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="index.html">
		<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		MyTunes
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	 aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="index.html">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				 aria-expanded="false">
					Music
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<h6 class="dropdown-header">Media</h6>
					<a class="dropdown-item" href="list-tracks.html">Tracks</a>
					<a class="dropdown-item" href="list-albums.html">Albums</a>
					<div class="dropdown-divider"></div>
					<h6 class="dropdown-header">People</h6>
					<a class="dropdown-item" href="list-musicians.html">Musicians</a>
					<a class="dropdown-item" href="list-bands.html">Bands</a>
					<a class="dropdown-item" href="list-producers.html">Producers</a>
				</div>
			</li>
		</ul>
	</div>
</nav>